.mat-header-cell,
.mat-cell {
 font-family: 'Inter', sans-serif;
 border-color: #e2e8f0;
 /* Tailwind's gray-200 */
}

.mat-table {
 border-collapse: collapse;
 /* Ensure borders collapse nicely */
}

.mat-header-cell {
 font-weight: 600;
 /* Semi-bold for headers */
}

/* Sticky column for Contract/Warranty */
.sticky.left-0 {
 position: sticky;
 left: 0;
 z-index: 1;
 /* Ensure it stays above other cells when scrolling horizontally */
}


.layout {
 display: flex;
 flex-direction: row;
 height: 100vh;
}

.sidebar {
 width: 250px;
 background-color: #f4f4f4;
 padding: 1rem;
 border-right: 1px solid #ccc;
 overflow-y: auto;
}

.main-content {
 flex-grow: 1;
 padding: 1rem;
 overflow-x: auto;
}