<div class="card text-center m-2">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link"  routerLink='/home' [routerLinkActive]="'active'"  >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" routerLink='/register'>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="'active'" routerLink='/list'>List Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-disabled="true">Contact Us</a>
            </li>
        </ul>
    </div>
    <!-- <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->

   

</div>