.sidebar {
 width: 40%;
 background-color: #f9f9f9;
 border-right: 1px solid #ddd;
 height: 77vh;
 overflow-y: scroll;
 padding: 8px;
 font-family: Arial, sans-serif;
}

.parent-row {
 display: flex;
 align-items: center;
 padding: 6px;
 cursor: pointer;
}

.arrow {
 width: 20px;
 text-align: center;
 cursor: pointer;
 margin-right: 6px;
 font-weight: bold;
}

.name {
 flex: 1;
}

.child-row {
 padding: 6px 30px;
 cursor: pointer;
}

.parent-row:hover,
.child-row:hover {
 background-color: #1976d2;
}

.active {
 background-color: #1976d2;
 color: white;
}


.sidebar {
 width: 40%;
 background-color: #f9f9f9;
 border-right: 1px solid #ddd;
 height: 77vh;
 /* fixed height */
 overflow-y: auto;
 /* only shows scroll when needed */
 padding: 8px;
 font-family: Arial, sans-serif;
 scrollbar-width: thin;
 /* Firefox */
 scrollbar-color: #ccc #f9f9f9;
 /* Firefox */
}

/* For Chrome, Edge, Safari */
.sidebar::-webkit-scrollbar {
 width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
 background: #ccc;
 border-radius: 3px;
}

.sidebar::-webkit-scrollbar-track {
 background: #f9f9f9;
}