.certification-table {
 width: 100%;
 border-collapse: collapse;
 font-family: Arial, sans-serif;
 font-size: 13px;

 th,
 td {
  border: 1px solid #333;
  padding: 6px;
  text-align: center;
 }

 .contract-header,
 .quarter-header,
 .sub-header {
  background-color: #012e6d;
  color: #fff;
  font-weight: bold;
 }

 .quarter-header {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
 }

 .sub-header {
  border-right: 1px solid #999;
 }

 .right-border {
  border-right: 2px solid #012e6d;

 }


 .contract-name {
  text-align: left;
  font-weight: bold;
  background-color: #f0f0f0;
 }

 tbody tr:nth-child(even) {
  background-color: #f9f9f9;
 }

 .certification-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 13px;

  th,
  td {
   border: 1px solid #ccc;
   padding: 6px;
   text-align: center;
  }

  .contract-header,
  .quarter-header,
  .sub-header {
   background-color: #012e6d;
   color: white;
   font-weight: bold;
  }

 }
}